/* Application wide styles */

.placeholder-label {
    -fx-opacity: 0.5;
    -fx-padding: 0 0 0 4;
}

.bold-text {
    -fx-font-weight: bold;
}

.summary-row {
    -fx-background-color: lightblue;
    -fx-border-color: lightblue transparent lightblue lightblue;
    -fx-border-width: 1 0 1 0;
}

.font-24 { -fx-font-size: 24px; }
.font-20 { -fx-font-size: 20px; }
.font-18 { -fx-font-size: 18px; }
.font-16 { -fx-font-size: 16px; }
.font-14 { -fx-font-size: 14px; }